body{
    background-image: url('../images/cozybackground.avif');
    background-color: #ffcccc;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Quicksand', sans-serif;
    height: 100vh;
    margin: 0px;
}

div.title{
    background-color: #ffcccc;
    border-style: groove;
    border-color: #ba9eb5;
    padding: 10px;
    text-align: center;
    margin-top: 30px;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 30px;
    border-radius: 8px;
}

.modal{
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: #e0b8c2;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.modal.show{
    visibility: visible;
}

.modal-content{
    background: #ba9eb5;
    width: 50%;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}

.email{
    margin-top: 5%;
    padding-left: 5%; padding-right: 5%;
    padding-top: 1%; padding-bottom: 1%;
    text-align: justify;
}

div.main{
    text-align: center;
    background-color: #ffcccc;
    border-style: groove;
    border-color: #ba9eb5;
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 8px;
}

div.list{
    background-color: #e0b8c2;
    border-color: #ba9eb5;
    margin-left: 20px;
    margin-right: 20px;
    padding: 18px;
    line-height: 1.5;
    border-style: groove;
    border-radius: 8px;
}

.save{
    background-color: #e0b8c2;
    border-color: #ba9eb5;
    border-style: outset;
    padding-top: 5%; padding-bottom: 5%;
    padding-right: 20%; padding-left: 20%;
    margin-top: 10%;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 12px;
}

.pick, .add{
    background-color: #e0b8c2;
    border-color: #ba9eb5;
    border-style: outset;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 12px;
}

.pick:hover, .add:hover, .save:hover{
    background-color: #8c80a6;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.disabled{
    opacity: 0.6;
    cursor: not-allowed;
}

.list li{
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

.list button{
    background-color: #ba9eb5;
    border-style: outset;
    border-radius: 18px;
    cursor: pointer;
}

.list button:hover{
    background-color: #8c80a6;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
